In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Maintenant prÃªt\Downloads\10x\stock\yfinance_data\TSLA_historical_data.csv")

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0

In [6]:
df.shape

(3545, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3545 entries, 0 to 3544
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          3545 non-null   object
 1   Open          3545 non-null   float64
 2   High          3545 non-null   float64
 3   Low           3545 non-null   float64
 4   Close         3545 non-null   float64
 5   Adj Close     3545 non-null   float64
 6   Volume        3545 non-null   int64
 7   Dividends     3545 non-null   float64
 8   Stock Splits  3545 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 249.4+ KB

In [8]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,3545.000000,3545.000000,3545.000000,3545.000000,3545.000000,3.545000e+03,3545.0,3545.000000
mean,75.505658,77.159237,73.743492,75.487264,75.487264,9.699708e+07,0.0,0.002257
std,102.530489,104.806516,100.051787,102.456615,102.456615,7.866828e+07,0.0,0.097921
min,1.076000,1.108667,0.998667,1.053333,1.053333,1.777500e+06,0.0,0.000000
25%,11.516667,11.861333,11.216667,11.565333,11.565333,4.770600e+07,0.0,0.000000
50%,17.463333,17.688667,17.100000,17.459333,17.459333,8.250600e+07,0.0,0.000000
75%,161.880005,165.333328,158.360001,161.479996,161.479996,1.228890e+08,0.0,0.000000
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08,0.0,5.000000